html{
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}
@media screen and (max-device-width: 960px) {
    font-size: 14px;
}
@media screen and (max-device-width: 480px) {
    font-size: 13px;
}
#container{
    overflow-y: scroll;
}
::-moz-selection{
    background-color: #0a0902;
}
::selection{
    background-color: #F1C40F;
    color: whitesmoke;
}
nav{
    font-family: 'Prompt', sans-serif;
    background-color: white;
    height: 85px;
    width: 100%;
    font-weight: 300%;
}
.nav-item{
    margin-right: 20px;
}
i{
    margin: 3px;
    color: #F3CA72;
}
.dropdown-toggle::after {
    display: none !important;
}
h1,h2,h3,h4,h5,h6,p,.btn,.my-nav{
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
}
p{
    font-size: 18px;
    font-weight: 200;
    color: #566573;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.head-blue{
    background: -webkit-linear-gradient(#79C5D1, #3C9FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
iframe{
    width: 100%;
}
.grey-color{
    color: #566573;
}
.my-nav{
    color: #275D6D;
    font-weight: 800;
}
.title-section{
    max-width: 100%;
}
.title-section{
    background-image: url(../Images/bgTitle-01.png);
    background-color: transparent;
    padding: 160px 0;
}
.title-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #566573;
    
}
.btn{
    width: 230px;
    height: 50px;
    border-radius: 16px;
    font-size: 16px;
    border-width: 2px;
}
.subtext{
    color: #566573;
}
h1.title{
    font-size: 105px;
    font-weight: 700;
    background: -webkit-linear-gradient(#79C5D1, #3C9FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bold{
    font-weight: 700;
}

.large-title{
    font-size: 36px;
}
.subhead{
    font-size: 26px;
    color: #283747;
}
.highlight-text{
    background-color: #F1C40F;
}
.introduce-section{
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #283747;
    padding: 128px 0;
}
.detail-section{
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #283747;
    padding: 80px 0;
}
.skill-section,
.example-section{
    background-color: #F2F3F4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0; 
}
.download-section{
    position: relative;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 100px;
    color: white;
    background: url("../img/bg-pattern.png"), #7b4397;
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #36D1DC, #5B86E5);
}
.footer-section{
    background-color: #7AC4D0;
}
.responsive {
    width: 100%;
    height: auto;
  }